# Framework de computação quântica
qiskit
qiskit-aer
qiskit-algorithms
qiskit-nature
qiskit-ibm-runtime

# Cálculo numérico e científico
numpy
scipy

# Visualização
matplotlib
pylatexenc

# Persistência de dados
pandas

# Execução
jupyter

# Credenciais
python-dotenv